html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("./FlappyBird/Bgflappy.webp");
  background-size: cover;
  font-family: "Press Start 2P";
  color: white;
  margin: 0;
  padding: 0
  ;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.birbs {
  position: absolute;
  width: 9vh;
  height: 9vh;
}

.upperpipe,
.lowerpipe {
  position: absolute;
  width: 80px;
  background-size: cover;
}

.upperpipe {
  top: 0;
  right: 40%;
}

.lowerpipe {
  bottom: 0;
  right: 40%;
}
.SCOREdiv {
  position: absolute;
  left: 0;
  top: 0;
  height: 30vh;
}

#gameOverScreen,#startScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", monospace;
  text-align: center;
}

#gameOverScreen h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#gameOverScreen p {
  font-size: 1.2rem;
}

#gameOverScreen.hidden {
  display: none;
}

#startScreen.hidden {
  display: none;
}
