html{
  height: auto;
}
body {
  background-image: url("./FlappyBird/Bgflappy.webp");
  background-size: 100vh;
  font-family: 'Press Start 2P';
  color: white;
  background-repeat: repeat-x;
  background-size: cover;
}
.birbs {
  height: 5%;
  width: 3%;
  position: absolute;
  left: 100px;
  top: 100px
}
.lowerpipe,
.upperpipe {
  position: absolute;
  height: 40%;
  left: 40%;
}

.lowerpipe {
  bottom: 0;
}

.upperpipe {
  top: 0;
}
