body {
  background-image: url(FlappyBird/FrontBGImage.gif);
  background-size: auto;
  font-family: 'Press Start 2P';
  color: white;
  height: 90vh;
  background-size: cover;

}

h1 {
display: flex;
justify-content: center;
}

h2 {
  display: grid;
  place-items: end;
  position: absolute;
  bottom: 10px;
  right: 50%;
  margin: 0;
  color: red;
}

.retroBtn {
  width: 20%;
  height: 55%;
  background-size: contain;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 40%;
  bottom: 10px;

}

* hover glow */
.retroBtn:hover {
  filter: brightness(1.2);
}

/* click effect */
.retroBtn:active {
  transform: scale(0.9);
  filter: brightness(0.8);
}
